:host {
  width: 1000px;
}

.join-button {
  width: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 70% 25%;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}

.tile {
  padding: 20px;
}

.single-width {
  grid-column: span 1;
}

.double-width {
  grid-column: span 2;
}
