<div class="grid-container">
  <mat-card class="tile double-width">
    <mat-card-title class="d-flex">
      <span>{{ event.title }}</span>
      <button
        #joinButton
        [disabled]="joinDisabled"
        class="ml-auto join-button"
        (mouseenter)="handleJoinHover('enter', joinButton)"
        (mouseleave)="handleJoinHover('leave', joinButton)"
        (click)="toggleJoin.emit()"
        mat-flat-button
        color="primary"
      >
        {{ joinLabel }}
      </button>
      <button
        *ngIf="event.currentIsManager"
        class="ml-2"
        mat-flat-button
        color="primary"
        (click)="edit.emit()"
      >
        Edit
      </button>
    </mat-card-title>
  </mat-card>

  <mat-card class="tile single-width">
    <mat-card-content>
      <mat-card-subtitle>
        Info
      </mat-card-subtitle>
      <mat-card-subtitle> Start date: {{ startDate }} </mat-card-subtitle>
      <mat-form-field class="w-100">
        <mat-label>
          Description
        </mat-label>
        <textarea
          [value]="event.description"
          disabled
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="6"
          cdkAutosizeMaxRows="25"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="tile single-width">
    <mat-card-subtitle class="d-flex">
      Participants
      <button class="ml-auto" color="primary" mat-button>
        Show All
      </button>
    </mat-card-subtitle>
    <mat-card-content>
      <app-participant-preview
        [participants]="event.participants"
      ></app-participant-preview>
    </mat-card-content>
  </mat-card>

  <mat-card class="tile double-width">
    <mat-card-subtitle>
      <span>Feed</span>
    </mat-card-subtitle>
  </mat-card>

  <mat-card *ngIf="event.currentIsParticipant" class="tile double-width">
    <mat-card-content>
      <textarea
        [(ngModel)]="commentValue"
        matInput
        (focus)="showNewCommentButtons = true"
        placeholder="New comment"
      >
      </textarea>
    </mat-card-content>
    <mat-card-actions *ngIf="showNewCommentButtons">
      <button mat-flat-button (click)="handleCommentCancel()">
        Cancel
      </button>
      <button (click)="handleNewCommentPost()" mat-flat-button color="primary">
        Send
      </button>
    </mat-card-actions>
  </mat-card>

  <ng-container *ngIf="event.posts">
    <mat-card *ngFor="let post of event.posts" class="tile double-width">
      <mat-card-subtitle>
        {{ post.user.firstName }} {{ post.user.lastName }}
      </mat-card-subtitle>
      <mat-card-content>
        {{ post.content }}
      </mat-card-content>
      <mat-card-subtitle>
        {{ getFormattedDate(post.posted) }}
      </mat-card-subtitle>
    </mat-card>
  </ng-container>
</div>
