<mat-card class="main-card">
  <mat-card-title class="card-title">
    Confetti
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="mt-3">
    <form [formGroup]="form">
      <mat-form-field class="d-block">
        <mat-label>
          Email
        </mat-label>
        <input [formControlName]="CONTROLS.email" required matInput />
        <mat-error
          *appValidationErrors="let error of CONTROLS.email; by: 'Email'"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="d-block">
        <mat-label>
          Password
        </mat-label>
        <input [formControlName]="CONTROLS.password" required matInput />
        <mat-error
          *appValidationErrors="let error of CONTROLS.password; by: 'Password'"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      (click)="redirectToRegistration()"
      class="mr-2"
      mat-flat-button
      color="primary"
    >
      Register
    </button>
    <button (click)="submit()" mat-flat-button color="primary">
      Login
    </button>
  </mat-card-actions>
</mat-card>
