<button mat-flat-button color="primary" (click)="handleCreateNew()">
  New Event
</button>

<table class="event-grid" mat-table matSort [dataSource]="events">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{ formatDate(element.startDate) }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row class="grid-row" (click)="handleRowClick(row.id)" *matRowDef="let row; columns: columns"></tr>
</table>
