<div class="d-flex justify-content-center">
  <img mat-card-avatar [src]="photo$ | async" />
</div>
<div class="mt-1 d-flex justify-content-center">
  <span>{{ participant.user.firstName }}</span>
</div>
