<mat-card class="mr-4 tile">
  <mat-card-content class="image-container">
    <img mat-card-image [src]="photo" />
  </mat-card-content>
  <button
    *ngIf="showPhotoUpload"
    class="w-100"
    mat-flat-button
    color="primary"
    (click)="fileUploader.click()"
  >
    Upload Photo
  </button>
  <input
    #fileUploader
    id="add-file"
    class="upload-files"
    style="display: none"
    (change)="handleUpload($event)"
    type="file"
  />
</mat-card>

<mat-card class="tile info">
  <mat-card-title>
    {{ fullName }}
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="w-100">
      <mat-label>
        Bio
      </mat-label>
      <textarea
        class="d-table"
        [value]="user.bio"
        disabled
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="27"
        matInput
      ></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
