<mat-toolbar class="mb-4" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Confetti</span>
    <span class="ml-auto">{{ username }}</span>
    <button class="ml-2" mat-flat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #drawer mode="over" class="sidenav" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/user/profile"> Home </a>
      <a mat-list-item routerLink="/events"> My Events </a>
      <a mat-list-item routerLink="/user/settings"> Settings </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
