<mat-card class="main-card">
  <mat-card-title class="card-title">
    Confetti
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="mt-3">
    <form [formGroup]="form">
      <mat-form-field class="d-block">
        <mat-label>
          Email
        </mat-label>
        <input [formControlName]="CONTROLS.email" required matInput />
        <mat-error
          *appValidationErrors="let error of CONTROLS.email; by: 'Email'"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="d-block">
        <mat-label>
          Password
        </mat-label>
        <input [formControlName]="CONTROLS.password" required matInput />
        <mat-error
          *appValidationErrors="let error of CONTROLS.password; by: 'Password'"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="d-block">
        <mat-label>
          First Name
        </mat-label>
        <input [formControlName]="CONTROLS.firstName" required matInput />
        <mat-error
          *appValidationErrors="
            let error of CONTROLS.firstName;
            by: 'First Name'
          "
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="d-block">
        <mat-label>
          Last Name
        </mat-label>
        <input [formControlName]="CONTROLS.lastName" required matInput />
        <mat-error
          *appValidationErrors="let error of CONTROLS.lastName; by: 'Last Name'"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="d-block">
        <mat-label>
          Bio
        </mat-label>
        <input [formControlName]="CONTROLS.bio" matInput />
        <mat-error *appValidationErrors="let error of CONTROLS.bio; by: 'Bio'">
          {{ error }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button (click)="goToLogin()" mat-flat-button color="primary">
      Go to login
    </button>
    <button (click)="submit()" class="ml-2" mat-flat-button color="primary">
      Register
    </button>
  </mat-card-actions>
</mat-card>
