<mat-card class="tile double-width">
  <mat-card-title> Edit {{ event.title }} </mat-card-title>
  <form [formGroup]="form">
    <mat-form-field class="d-block">
      <mat-label>
        Title
      </mat-label>
      <input [formControlName]="CONTROLS.title" matInput required />
      <mat-error
        *appValidationErrors="let error of CONTROLS.title; by: 'Title'"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block">
      <mat-label>
        Description
      </mat-label>
      <input [formControlName]="CONTROLS.description" matInput />
    </mat-form-field>
    <mat-form-field class="date-field">
      <mat-label>
        Start Date
      </mat-label>
      <input
        [formControlName]="CONTROLS.startDate"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-flat-button>
      Cancel
    </button>
    <button mat-flat-button color="primary" (click)="saveEvent()">
      Save
    </button>
  </mat-card-actions>
</mat-card>
