/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/alert';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #303030;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
