<mat-card>
  <mat-card-title>
    Settings
  </mat-card-title>
</mat-card>
<mat-card class="mt-2">
  <mat-card-subtitle>
    Email
  </mat-card-subtitle>
  <mat-card-content class="mt-2">
    <form [formGroup]="emailForm">
      <mat-form-field class="d-block">
        <mat-label>
          New email
        </mat-label>
        <input required formControlName="first" matInput />
      </mat-form-field>
      <mat-form-field class="d-block">
        <mat-label>
          Confirm New Email
        </mat-label>
        <input required formControlName="second" matInput />
      </mat-form-field>
      <mat-error *ngIf="emailForm.hasError('sameValue')">
        Email values do not match
      </mat-error>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="changeEmail()">
      Save
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="mt-2">
  <mat-card-subtitle>
    Password
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="passwordForm">
      <mat-form-field class="d-block">
        <mat-label>
          Old Password
        </mat-label>
        <input required formControlName="old" matInput />
      </mat-form-field>
      <mat-form-field class="d-block">
        <mat-label>
          New Password
        </mat-label>
        <input required formControlName="first" matInput />
      </mat-form-field>
      <mat-form-field class="d-block">
        <mat-label>
          Confirm New Password
        </mat-label>
        <input required formControlName="second" matInput />
      </mat-form-field>
    </form>
    <mat-error *ngIf="emailForm.hasError('sameValue')">
      Password values do not match
    </mat-error>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="changePassword()">
      Save
    </button>
  </mat-card-actions>
</mat-card>
