<h1 mat-dialog-title>New event</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="d-block">
      <mat-label>
        Title
      </mat-label>
      <input [formControlName]="CONTROLS.title" matInput required />
      <mat-error
        *appValidationErrors="let error of CONTROLS.title; by: 'Title'"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="d-block">
      <mat-label>
        Description
      </mat-label>
      <input [formControlName]="CONTROLS.description" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Start Date
      </mat-label>
      <input [formControlName]="CONTROLS.startDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-flat-button color="primary" (click)="submit()">
    Create
  </button>
  <button mat-flat-button (click)="handleCloseClick()">
    Close
  </button>
</mat-dialog-actions>
